.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    padding: 5px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 20wv;
  }

  img{
    width: auto;
    height: 40vh;
    display: flex;
    justify-self: center;
  }